/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000f1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
  padding-left: 50px; /* Move content slightly to the left */
  height: 100vh;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace; /* Apply IBM Plex Mono font */
}

.container {
    text-align: left;
    margin-left: 150px; /* Adjust this value to control how far right you want to push the content */
}

h1 {
  font-size: 2.8em; /* Larger font size for the name */
  color: #fff; /* White color for the name */
  margin-bottom: 10px;
}
  
.description {
  font-size: 1.1em;
  color: #f0f0f0; /* Slightly lighter color for the description */
  margin-bottom: 20px;
}

.description.sub-description {
  font-size: 0.75em; /* Smaller font size */
  color: #717171; /* Grayish color */
  margin-top: -15px; /* Adjust spacing between description lines */
}


.links {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  gap: 35px; /* Control spacing between icons */
  margin-top: 20px;
}

.links a {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.links img {
  width: 100%;
  height: 100%;
  filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(500%) hue-rotate(0deg) brightness(100%);
}

.links img.hf {
  width: 100%;
  height: 100%;
  filter: none;
}


.links a:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}




/* For news */

.news {
  margin-top: 60px; /* Replaces the <br> tags */
  font-size: 0.9em;
  color: #f0f0f0;
  max-width: 1100px; /* Limit horizontal line width */
}

.news h2 {
  font-size: 1.4em;
  margin-bottom: 20px; /* Increased space after "Updates" title */
  color: #fff;
}

.news ul {
  list-style-type: none;
  padding-left: 0;
}

.news li {
  margin-bottom: 12px;
  line-height: 1.5;
}

.news .date {
  color: #aaa;
  font-weight: bold;
  margin-right: 8px;
  white-space: nowrap;
}

.highlight-link {
  color: #7fff7f; /* Neon green */
  text-decoration: none;
  font-weight: bold;
}

.highlight-link:hover {
  color: #b4ffb4; /* Softer green on hover */
  text-decoration: underline;
}
